.attribution {
	font-size: 11px;
	text-align: center;
	margin-block: 1rem;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--clr-primary-red: hsl(1, 90%, 64%);
	--clr-primary-blue: hsl(219, 85%, 26%);
	--clr-neutral-white: hsl(0, 0%, 100%);
	--clr-neutral-very-light-grayish-blue: hsl(210, 60%, 98%);
	--clr-neutral-light-grayish-blue-1: hsl(211, 68%, 94%);
	--clr-neutral-light-grayish-blue-2: hsl(205, 33%, 90%);
	--clr-neutral-grayish-blue: hsl(219, 14%, 63%);
	--clr-neutral-dark-grayish-blue: hsl(219, 12%, 42%);
	--clr-neutral-very-dark-blue: hsl(224, 21%, 14%);
}

body {
	font-family: "Plus Jakarta Sans", sans-serif;
	background-color: var(--clr-neutral-light-grayish-blue-1);
}

.notifications {
	margin: 0 auto;
	max-width: 375px;
	padding: 24px 16px;
	background-color: var(--clr-neutral-white);
	display: grid;
	gap: 0.75rem;
}

.notifications__title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-block-end: 1.5rem;
}

.notifications__main-title {
	font-size: 1.25rem;
}

@media screen and (min-width: 500px) {
	.notifications {
		margin: 1rem auto;
		max-width: 734px;
		padding: 30px;
		border-radius: 1rem;
	}

	.notifications__main-title {
		font-size: 1.4rem;
	}
}

.number-of-notifications {
	font-size: 1rem;
	font-weight: 500;
	padding: 0.125em 0.75rem;
	margin-left: 0.5em;
	border-radius: 0.4em;
	color: var(--clr-neutral-white);
	background-color: var(--clr-primary-blue);
}

.read-btn {
	font-size: 0.95rem;
	border: 0;
	color: var(--clr-neutral-dark-grayish-blue);
	background-color: transparent;
	cursor: pointer;
	height: min-content;
}

.notification {
	display: grid;
	grid-template-columns: min-content auto;
	gap: 0.75rem;
	padding: 1rem;
	border-radius: 0.75rem;
	font-size: 0.9rem;
}

.notification.new {
	background-color: var(--clr-neutral-very-light-grayish-blue);
}

.notification img {
	width: 2.5rem;
}

.name {
	font-weight: 800;
	margin-right: 0.2em;
}

.action {
	color: var(--clr-neutral-dark-grayish-blue);
}

.place {
	margin-left: 0.2em;
	font-weight: 800;
	color: var(--clr-neutral-dark-grayish-blue);
}

.new .place::after {
	content: "";
	display: inline-block;
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 100%;
	margin-left: 0.4em;
	background-color: var(--clr-primary-red);
	box-shadow: 0 0 2px var(--clr-primary-red);
}

.group {
	color: var(--clr-primary-blue);
}

.time {
	color: var(--clr-neutral-grayish-blue);
	margin-top: 0.125em;
}

.message {
	border: 1px solid var(--clr-neutral-light-grayish-blue-2);
	border-radius: 0.25rem;
	padding: 1em;
	color: var(--clr-neutral-dark-grayish-blue);
	margin-top: 0.75rem;
}
